#body {
	background: linear-gradient(pink,firebrick);
}

#greeting {
	text-align: center;
	font-size: 60px;
	font-family: Verdana; 
	background-color: darkturquoise;
	color: blueviolet; 
}

#reasons {
	text-align: left;
	background-image: url(space.jpg);
	color:white;
}
#reasonsHeading {
	text-align: center;
	font-size: 30px;
	font-family: Verdana;
	font-style:italic;
	color: white;
}

#amazingDay {
	text-align: center;
	font-size: 30px;
	font-family: Verdana;
	font-style: italic;
	color: forestgreen;
}